.view-indicator {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0 1.5rem;
  color: #9e9ea0;
  font-size: 0.875rem;
  /* flex-wrap: wrap; */
}

.view-indicator-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* padding: 0.375rem 0.75rem; */
  border-radius: 0.375rem;
  transition: all 0.2s ease;
  text-decoration: none;
  color: #9e9ea0;
}

.view-indicator-item.home {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 0.6rem 0.7rem;
}

.view-indicator-item.home:hover {
  background-color: rgba(125, 103, 255, 0.1);
  color: #f2f2fa;
}

.view-indicator-item.wallet {
  background-color: rgba(125, 103, 255, 0.1);
  color: #7d67ff;
  padding: 0.39rem;
}

.view-indicator-icon {
  flex-shrink: 0;
  font-size: 0.875rem;
}

.view-indicator-separator {
  color: #575759;
  flex-shrink: 0;
  font-size: 0.75rem;
}

.view-indicator-wallet-info {
  display: flex;
  flex-direction: column;
  min-width: 0; 
}

.view-indicator-chain {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.2;
}

.view-indicator-address {
  font-size: 0.7rem;
  color: rgba(125, 103, 255, 0.8);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .view-indicator {
    padding: 0.5rem 0 1rem;
  }
}
